<!DOCTYPE html>
<<<<<<< HEAD
<h1>Buster's Best Bowling Alley</h1>
<h2>Bet You Can't Bowl A Strike Every Time</h2>
<p>97 Bowling Alley Lane, Boulder CO </p>
=======
<h1> Buster's Best Bowling Alley</h1>
<h2> Bet You Can't Bowl A Strike Every Time</h2>
<p> 97 Bowling Alley Lane, Boulder CO </p>
>>>>>>> e8f7cbeb4ec1412559ba1d147743d8e91c4ba8ef
